* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    color: black;
    background: #C5E3F6;
}
a {
    color: #FC5C9C;
}
